

<div class="home-wrapper"> 
    <div id="home-feed">
        <h2>Latest dives</h2>
    </div>

        <% for (let image of images) { %>
            <div class="home-card">
                <img src="<%=image.image_url%>" alt="">
                <p>posted by <span id="username-span">
                    <a href="/users/<%=image.user_id%>">
                        <%=image.username%>
                    </a>
                </span> at <span id="location-span">
                    <a href="/users/<%=image.site_id%>">
                    <%=image.name%>
                    </a>
                    </span> on <%=image.upload_date%>
                </p>
            </div>
        <% } %>
</div>   