
<div class="sites-show">
    
    <div class="sites-header">
        <h1><%=site.name%></h1>

        <h4><%=site.location%></h4>
    </div>

    <div class="sites-wrapper">
        <div class="images">
            <h2>latest pictures</h2>
            <% for (let image of images) { %>
                    <img src="<%=image.image_url%>" alt="">
                    <p>posted by <span id="username"><%=image.username%></span> at <%=image.upload_date%></p>
                    <% if (image.user_id === currentUserId) { %>
                        <form action="/images/<%=image.id%>?_method=delete" method="post">
                            <input type="hidden" name="site_id" value="<%=site.id%>">
                            <button>delete image</button>
                        </form>
                    <% } %> 
            <% } %>

            <h2>add an image of your dive</h2>

            <form action="/images" method="post">
                <input type="text" name="image_url">

                <input type="hidden" name="site_id" value="<%=site.id%>">
                <button id="image-post-button">post</button>
            </form>
        </div>

        <div class="comments">
            <% if (isFavourite) { %>
                <p><span class="favourites-message">Site is in your favourites</span></p>
            <% } else { %>    
                <div class="favourites-wrapper">
                    <form action="/favourites" method="post">
                        <input type="hidden" name="site_id" value="<%=site.id%>">
                        <input type="hidden" name="user_id" value="<%=currentUser.id%>">
                        <button id="favourites-button">add site to favourites</button>
                    </form>
                </div>
            <% } %>
            <div class="comment-post">
                <form action="/comments" method="post">
                    <textarea name="content" id="comment-content">Write a comment...</textarea>
                    <input type="hidden" name="site_id" value="<%=site.id%>">
                    <button>post comment</button>
                </form>
            </div>

            <% for (let comment of comments) { %>
                <div class="comment-card">
                    <p><span id="username"><%=comment.username%></span></p>
                    <p><%=comment.content%></p>
                    <p><span id="date"><%=comment.comment_date%></span></p>
                    <% if (comment.user_id === currentUserId) { %>
                        <form action="/comments/<%=comment.id%>?_method=delete" method="post">
                            <input type="hidden" name="site_id" value="<%=comment.site_id%>">
                            <button>delete comment</button>
                        </form>
                    <% } %> 
                </div>
            <% } %>

        </div>
    </div>
</div>

