<div class="user-display">
    <div class="user-bio">  
        <h2>user bio</h2>
        <p><%=user.username%></p>
        <p><%=user.location%></p>
        <p>DiveLogger since <%=convertDatetoDay(user.date_joined)%></p>
    </div>   


        <div class="user-wrapper">
            <div class="user-image-wrapper">
                <h2>latest images</h2>
                <% for (let image of images) { %>
                    <div class="home-card">   
                        <img src="<%=image.image_url%>" alt="">
                        <p>posted <span id="username-span">
                            <a href="/users/<%=image.user_id%>">
                                <%=image.username%>
                            </a>
                        </span> <span id="location-span">
                            <a href="/users/<%=image.site_id%>">
                            <%=image.name%>
                            </a>
                            </span> on <%=convertDatetoDay
                            (image.upload_date)%>
                        
                        </p>
                    </div> 
                <% } %>
            </div>

            <div class="user-favourites"> 
                    <h2>favourites</h2>
                <div class="home-card">  
                    <% for (let favourite of favourites) { %>
                        <p><%=favourite.name%></p>
                        <% } %>
                    </div> 
            </div>
        </div>
    </div>
</div> 


